body {
margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
   
a {
    text-decoration-line: none;
}



.intro {
    width: 100%;
    height: 100vh;
    background: url(../img/img3.jpg) center no-repeat;
    background-size: cover;
}



.item {
    margin-bottom: 15px;
    
}

.item-image {
    width: 190px;
}

#logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: gold;
    margin-left: 100px;
    
}
   
#nav {
    font-size: 20px;
    margin-right: 150px;
}


.nav-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    color: gold;
    text-decoration: none;
    transition: color 0.2s linear;
}

.nav-link:hover {
    color: rgb(235, 82, 11);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}


.content {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    align-content: center;
    
}

.form-button {
    padding:10px;
    border:none;
    background-color:#e9700d;
    color:rgb(255, 255, 255);
    font-weight:600;
    border-radius:5px;
    width:100%;
}

.page-comments {
    width: 50%;
    margin-left: 450px;
    align-content: space-around;
    
}

#color {
    color: white;
}

#footer {
    margin-left: 1200px;
    
}

.com-table {
    width: 400px;
    overflow: auto;
    height: 450px;
    border:2px solid rgb(236, 101, 23);
    border-radius:5px;
    background-color:
    rgb(197, 107, 56); 
    opacity: 0.6;
}

.color-disc {
    display: flex;
    justify-content: center;
    color: gold;
}


.contacts {
    flex-direction: column;
    margin-top: 100px;
    margin-left: 575px;
}